<h1>Immo Crawler App</h1>

<!--<app-article *ngFor="let article of results" [article]="article"></app-article>-->

<table mat-table *ngIf="dataSource" [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <ng-container matColumnDef="url">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Url </th>
    <td mat-cell *matCellDef="let article"> {{article.url}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let article"> {{article.price}} </td>
  </ng-container>

  <ng-container matColumnDef="city">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> City </th>
    <td mat-cell *matCellDef="let article"> {{article.city}} </td>
  </ng-container>

  <ng-container matColumnDef="land">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Land (ares) </th>
    <td mat-cell *matCellDef="let article"> {{article.landSurface}} </td>
  </ng-container>

  <ng-container matColumnDef="home">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Home (m²) </th>
    <td mat-cell *matCellDef="let article"> {{article.homeSurface}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
