<configuration>

    <property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n" />
    <property name="PATH" value="logs" />

    <!-- APPENDERS -->

    <appender name="LOG_FILE" class="ch.qos.logback.core.FileAppender" >
        <param name="Append" value="false" />
        <file>${PATH}/output.log</file>
        <encoder><pattern>${PATTERN}</pattern></encoder>
    </appender>

    <appender name="IMMOREGION_FILE" class="ch.qos.logback.core.FileAppender" >
        <param name="Append" value="false" />
        <file>${PATH}/immoregion.log</file>
        <encoder><pattern>${PATTERN}</pattern></encoder>
    </appender>

    <appender name="SELOGER_FILE" class="ch.qos.logback.core.FileAppender" >
        <param name="Append" value="false" />
        <file>${PATH}/seloger.log</file>
        <encoder><pattern>${PATTERN}</pattern></encoder>
    </appender>

    <appender name="LEBONCOIN_FILE" class="ch.qos.logback.core.FileAppender" >
        <param name="Append" value="false" />
        <file>${PATH}/leboncoin.log</file>
        <encoder><pattern>${PATTERN}</pattern></encoder>
    </appender>

    <appender name="OPTIMHOME_FILE" class="ch.qos.logback.core.FileAppender" >
        <param name="Append" value="false" />
        <file>${PATH}/optimhome.log</file>
        <encoder><pattern>${PATTERN}</pattern></encoder>
    </appender>

    <appender name="PANETTA_FILE" class="ch.qos.logback.core.FileAppender" >
        <param name="Append" value="false" />
        <file>${PATH}/panetta.log</file>
        <encoder><pattern>${PATTERN}</pattern></encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder><pattern>${PATTERN}</pattern></encoder>
    </appender>

    <!-- LOGGERS -->

    <logger name="org.barrak.immocrawler.batch.crawler.impl.immoregion" additivity="false">
        <appender-ref ref="IMMOREGION_FILE" />
        <appender-ref ref="LOG_FILE" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.barrak.immocrawler.batch.crawler.impl.seloger" additivity="false">
        <appender-ref ref="SELOGER_FILE" />
        <appender-ref ref="LOG_FILE" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.barrak.immocrawler.batch.crawler.impl.leboncoin" additivity="false">
        <appender-ref ref="LEBONCOIN_FILE" />
        <appender-ref ref="LOG_FILE" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.barrak.immocrawler.batch.crawler.impl.panetta" additivity="false">
        <appender-ref ref="PANETTA_FILE" />
        <appender-ref ref="LOG_FILE" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.barrak.immocrawler.batch.crawler.impl.optimhome" additivity="false">
        <appender-ref ref="OPTIMHOME_FILE" />
        <appender-ref ref="LOG_FILE" />
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="LOG_FILE" />
    </root>
</configuration>